name = "simple_tcp_ping"
[defaults]
builder = "docker:generic"
runner = "local:docker"

[builders."docker:generic"]
enabled = true

[builders."docker:generic".build_args]
SDK_GIT_REF = """{{ or $.Env.SdkGitRef "master"}}"""

[runners."local:docker"]
enabled = true

[[testcases]]
name= "simple_tcp_ping"
instances = { min = 2, default = 2, max = 2 }

[testcases.params]
payload = { type = "string", default = "Hello!" }
count = { type = "int", default = 2 }
printResult = { type = "bool", default = true }
